button, label, stack-layout {
    horizontal-align: center;    
}

.counter-btn {
    font-size: 24;
    horizontal-align: center;
}

.counter {
    font-size: 30;
    margin: 10;
    horizontal-align: center;
    text-align: center;
    min-width: 50;
    color: #284848;
}